
.container{
  display: flex;
  place-content: center;
  justify-content: center;
  align-items: center;
  /* margin-left: calc(50% - 50px); */
  background-color: yellow;
}
.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-container{
  margin: 200px;
}
.square{
  
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: blueviolet;
}
.text{
  color: rgb(54, 24, 2);
}
.heading{
  color: blue;
  display: flex;
  justify-content:center;
  align-items: center;

}
.header{
  color:red;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 20px;
}
.btn{
  color: white;
  background-color: dodgerblue;
  border-radius: 4px;
  border: none;
  height: 25px;
  width: 100px;
  cursor: pointer;
}