

.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-container{
  margin: 200px;
}
.square{
  
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: blueviolet;
}
.text{
  color: rgb(54, 24, 2);
}
.heading{
  color: blue;
  display: flex;
  justify-content:center;
  align-items: center;

}
.header{
  color:red;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 20px;
}
.container{
  width: 100vh;
  height: 100vh;
  background-color: rgb(203, 218, 43);
}